body {
  margin: 0;
  padding: 0;
  background-color: #eef2ff; 
  color: #1e293b;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  background: linear-gradient(to right, #63355b, #d3b0c8); 
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.main-title {
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.intro-text {
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.img-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.profile-pic {
  width: 11rem;
  height: 11rem;
  border-radius: 9999px;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
}

.section {
  padding: 3rem 1rem;
  text-align: center;
}

.card {
  margin: 2rem auto;
  max-width: 900px;
  background-color: white;
  border: 2px solid #c7d2fe; 
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(99, 102, 241, 0.1);
}

.section-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #4f46e5; 
  border-bottom: 2px solid #6366f1;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.skill-box {
  background-color: #ede9fe; 
  color: #312e81; 
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  border: 1px solid #c4b5fd;
}

.skill-box:hover {
  transform: translateY(-4px);
}


.table-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.styled-table thead {
  background-color: #f163b8; 
  color: white;
}

.styled-table th,
.styled-table td {
  padding: 1rem;
  text-align: left;
}

.styled-table {
  background-color: #f3f4f6; 
}

.styled-table{
  background-color: #e0e7ff; 
  transition: background 0.3s ease;
}
